h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cat_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#random_cat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px
}
